doctype html
html(ng-app="asheville-graffiti", prefix="og: http://ogp.me/ns#")
	head
		include components/stylesheets
		include components/meta

		base(href='/')

		title AshevilleGraffiti

	body
		div(header)

		div.mainContent
			div.container
				block body

		div(footer)